body{background: pink;}
#clockdate{margin:ayto;
           width: 47%;
           background: #333;
           cursor: default;
           border-radius: 15px;}
 #wrapper-clockdate{padding: 25px;
                    text-align: center;
                     margin-top:15%;
                     border-radius: 15px;}
 #clock-large{font-family:'arial',sans-serif;
font-size: 80px;
color: #fff;
}
#clock-large span{color: #888;
font-size: 30px;
position: relative;
top: -27px;
left: -10px;
}